@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Instead of applying background globally, do it only for Home */
.home-background {
  background: url('../assets/Creativeportfolio.jpg');
  background-size: cover;
  background-position: center;
}
